.message-input {
    display: flex;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;
    margin-top: 24px;
    background-color: $color-input-field;
    border-radius: 24px;

    & span[role="textbox"] {
        font: $body;
        flex: 1;
        max-height: 100px;
        overflow-y: auto;
    }
}